/*
// Variable font example
@font-face {
	font-family: 'Big Shoulders Display';
	src: url('../../fonts/BigShouldersDisplay-Variable.woff2') format('woff2 supports variations'),
	url('../../fonts/BigShouldersDisplay-Variable.woff2') format('woff2-variations');
	font-display: swap;
	font-weight: 100 900;
	font-style: normal;
}
*/
