@import './../helpers';

html {
	@include website_style_guide();

	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	scroll-behavior: smooth;
}

body {
	background: var(--color-bg);
	word-break: break-word;
	scroll-behavior: smooth;
	max-width: 100vw;
	min-height: 100%;
	min-width: 320px;
	overflow-x: hidden;
}

body.admin-bar {
	min-height: calc(100% - 32px);

	@media screen and (max-width: 782px) {
		min-height: calc(100% - 46px);
	}
}

.main-wrapper {
	width: 100%;
	min-height: 100vh;
}

.admin-bar .main-wrapper {
	min-height: calc(100vh - 32px);

	@media screen and (max-width: 782px) {
		min-height: calc(100vh - 46px);
	}
}

.site-content {
	flex-grow: 1;
	min-height: 1px;
	width: 100%;
}

.main {
	width: 100%;
}

// Section wrapper, set max-width according to theme design
.wrapper {
	width: 100%;
	max-width: 1400px;
	padding: 0 36px;
	margin: 0 auto;

	.wrapper {
		padding: 0;
	}
}

@include sm-down {
	html {
		//font-size: 16px; // Set theme main font-size on mobile
	}
}
